// Navigation Styles here

.navBar{
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    border-bottom: 2px dashed @navigation-border;
    h1{
      width: 60%;
    }
    .navDes{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 40%;
      a{
        font-size: 1.8rem;
        text-decoration: none;
    }
  }
}